<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>Archetype Created Web Application</display-name>
	
	<servlet>
		<servlet-name>KniffelServlet</servlet-name>
		<servlet-class>de.fh_dortmund.cw.kniffel.server.KniffelServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>KniffelServlet</servlet-name>
		<url-pattern>/Kniffel</url-pattern>
	</servlet-mapping>
</web-app>
