@CHARSET "UTF-8";

body {
	margin: 20px;
}

table.kniffelZettel {
	border-top: #000 1px solid;
	border-left: #000 1px solid;
}

td.titleCell {
	border-bottom: #000 1px solid;
	border-right: #000 1px solid;
	background-color: gray;
	padding: 3px;
}

td.titleRowCell {
	border-bottom: #000 1px solid;
	border-right: #000 1px solid;
	background-color: silver;
	font-weight: bold;
	padding: 3px;
}

td.titleRowCell .currentPlayer {
	color: #FFF;
}

td.titleColumnCell {
	border-bottom: #000 1px solid;
	border-right: #000 1px solid;
	background-color: silver;
	font-weight: bold;
	padding: 3px;
}

td.defaultCell {
	border-bottom: #000 1px solid;
	border-right: #000 1px solid;
	padding: 3px;
}

td.defaultCell .currentPlayer {
	background-color: aqua;
}

.currentPlayer:hover {
	background-color: yellow;
}